<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.AnswerEntityMapper">

  <select id="selectByPrimaryKey" resultType="com.example.demo1.dao.entity.AnswerEntity" parameterType="com.example.demo1.dao.entity.AnswerEntity">
    select
    id, userid, optionid, username, answertime
    from answer
    where optionid = #{optionid,jdbcType=VARCHAR} and username = #{username,jdbcType=VARCHAR}
  </select>

</mapper>